html, body {
	margin: 0;
	border: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	background-color: #3B3F40;
}

.planmock {
	position: absolute;
	width: 200px;
	height: auto;
	left: 30%;
	top: 30%;
}

#svg {
	visibility: hidden;
}

#canvas {
	position: absolute;
	left: 20%;
	top: 15%;
}

#path0 {
	position: absolute;
	left: 20%;
	top: 15%;
	visibility: visible;
	animation: movedash 500s linear;
}

#path1 {
	position: absolute;
	left: 20%;
	top: 15%;
	visibility: hidden;
	animation: movedash 500s linear;
}

#path2 {
	position: absolute;
	left: 20%;
	top: 15%;
	visibility: hidden;
	animation: movedash 500s linear;
}

#path3 {
	position: absolute;
	left: 20%;
	top: 15%;
	visibility: hidden;
	animation: movedash 500s linear;
}

#path4 {
	position: absolute;
	left: 20%;
	top: 15%;
	visibility: hidden;
	animation: movedash 500s linear;
}

#path5 {
	position: absolute;
	left: 20%;
	top: 15%;
	visibility: hidden;
	animation: movedash 500s linear;
}

#path6 {
	position: absolute;
	left: 20%;
	top: 15%;
	visibility: hidden;
	animation: movedash 500s linear;
}

#path7 {
	position: absolute;
	left: 20%;
	top: 15%;
	visibility: hidden;
	animation: movedash 500s linear;
}

#pathcomplete {
	position: absolute;
	left: 20%;
	top: 15%;
	visibility: hidden;
}


@keyframes movedash {
  to {
    stroke-dashoffset: 10000;
  }
}

@-webkit-keyframes movedash {
  to {
    stroke-dashoffset: 10000;
  }
}