html, body {
	margin: 0;
	border: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	background-color: #3B3F40;
}

.planmock {
	position: absolute;
	width: 200px;
	height: auto;
	left: 30%;
	top: 30%;
}

#svg {
	visibility: hidden;
}

#canvas {
	position: absolute;
	left: 20%;
	top: 15%;
}

#path1 {
	position: absolute;
	left: 20%;
	top: 15%;
	visibility: hidden;
  animation: dashone 500s linear;
}

#path2 {
	position: absolute;
	left: 20%;
	top: 15%;
	visibility: visible;
	animation: dashtwo 500s linear;
}

@keyframes dashone {
  to {
    stroke-dashoffset: 10000;
  }
}

@keyframes dashtwo {
  to {
    stroke-dashoffset: 10000;
  }

@-webkit-keyframes dashone {
  to {
    stroke-dashoffset: 10000;
  }
}

@-webkit-keyframes dashtwo {
  to {
    stroke-dashoffset: 10000;
  }