html, body {
	margin: 0;
	border: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	background-color: #3B3F40;
}

.planmock {
	position: absolute;
	width: 200px;
	height: auto;
	left: 30%;
	top: 30%;
}

#svg {
	visibility: hidden;
}

#canvas {
	position: absolute;
	left: calc(50vw - (0.5 * 300px));
	top: calc(50vh - (0.5 * 500px));
}

#path0 {
	position: absolute;
	left: calc(50vw - (0.5 * 300px));
	top: calc(50vh - (0.5 * 500px));
	visibility: visible;
	animation: movedash 500s linear;
}

#path1 {
	position: absolute;
	left: calc(50vw - (0.5 * 300px));
	top: calc(50vh - (0.5 * 500px));
	visibility: hidden;
	animation: movedash 500s linear;
}

#path2 {
	position: absolute;
	left: calc(50vw - (0.5 * 300px));
	top: calc(50vh - (0.5 * 500px));
	visibility: hidden;
	animation: movedash 500s linear;
}

#path3 {
	position: absolute;
	left: calc(50vw - (0.5 * 300px));
	top: calc(50vh - (0.5 * 500px));
	visibility: hidden;
	animation: movedash 500s linear;
}

#path4 {
	position: absolute;
	left: calc(50vw - (0.5 * 300px));
	top: calc(50vh - (0.5 * 500px));
	visibility: hidden;
	animation: movedash 500s linear;
}

#path5 {
	position: absolute;
	left: calc(50vw - (0.5 * 300px));
	top: calc(50vh - (0.5 * 500px));
	visibility: hidden;
	animation: movedash 500s linear;
}

#path6 {
	position: absolute;
	left: calc(50vw - (0.5 * 300px));
	top: calc(50vh - (0.5 * 500px));
	visibility: hidden;
	animation: movedash 500s linear;
}

#path7 {
	position: absolute;
	left: calc(50vw - (0.5 * 300px));
	top: calc(50vh - (0.5 * 500px));
	visibility: hidden;
	animation: movedash 500s linear;
}

#pathcomplete {
	position: absolute;
	left: calc(50vw - (0.5 * 300px));
	top: calc(50vh - (0.5 * 500px));
	visibility: hidden;
}

#gate1click {
	position: absolute;
	left: calc((50vw - (0.5 * 50px)) - 110px);
	top: calc((50vh - (0.5 * 50px)) + 5px);
	width: 50px;
	height: 50px;

	z-index: 2;
}

#gate2click {
	position: absolute;
	left: calc((50vw - (0.5 * 50px)) + 35px);
	top: calc((50vh - (0.5 * 50px)) - 175px);
	width: 50px;
	height: 50px;

	z-index: 2;
}

#gate3click {
	position: absolute;
	left: calc((50vw - (0.5 * 50px)) + 75px);
	top: calc((50vh - (0.5 * 50px)) + 140px);
	width: 50px;
	height: 50px;

	z-index: 2;
}


@keyframes movedash {
  to {
    stroke-dashoffset: 10000;
  }
}

@-webkit-keyframes movedash {
  to {
    stroke-dashoffset: 10000;
  }
}